@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.table .thead-dark th {
  color: #fff;
  background-color: #5c5e60;
  border-color: #5c5e60;
}
.table .thead-dark th .btn{
  color: #fff;
}

.table > thead th,
.table > tbody td{
  vertical-align: middle;
}
